{% extends 'base.html' %}
{% load static %}

{% block nav_home_active %}active{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_notifications/my_notifications.css' %}">
{% endblock %}

{% block title %}
    乒乒乓乓
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="{% url 'notifications:mark_all_as_read' %}?next={% url 'my_notifications' %}" class="btn btn-primary">全部消息设为已读</a>
                <a href="{% url 'my_notification_delete' %}" class="btn btn-danger">删除已读消息</a>
                <ul class="notification">
                    {% for notification in request.user.notifications.all %}
                        <li class="{% if not notification.unread %}read{% endif %} ">[{{notification.timesince}}之前],<a href="{% url 'my_notification' notification.pk %}">
                        {{notification.verb}}:
                            <p>{{notification.description}}</p>
                    </a></li>
                    {% empty %}
                        <li>您暂无收到消息</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}