<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>LXYZ_乒乓“陪”训机</title>

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

  </head>
  <body>

    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><img class="img-fulid" src="{% static "img/logo.png" %}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">主页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">任务</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">特色</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#portfolios">作品</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#pricing">商品</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#team">团队</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'blog_list' %}">博客</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">联系</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">主页</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">任务</a>
            </li>
            <li>
              <a class="page-scroll" href="#features">特色</a>
            </li>
            <li>
              <a class="page-scroll" href="#portfolios">作品</a>
            </li>
            <li>
              <a class="page-scroll" href="#pricing">商品</a>
            </li>
            <li>
              <a class="page-scroll" href="#team">团队</a>
            </li>
            <li >
              <a class="page-scroll" href="#blog">博客</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">联系</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->   
      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">LXYZ - HITers</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">铭记责任，竭诚奉献的爱国精神；求真务实，崇尚科学的求是精神；海纳百川，协作攻关的团结精神；自强不息，开拓创新的奋进精神。</p>
              <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">戳戳看</a>
            </div>
          </div>
        </div> 
      </div>           
    </header>
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">我们的任务</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">化整为零 <br> 功不厌细</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lnr lnr-pencil"></i>
              </div>
              <h4>文档与报告</h4>
              <p>各项比赛所需工程文档，中期及结题的报告</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon">
                <i class="lnr lnr-code"></i>
              </div>
              <h4>用户端开发</h4>
              <p>网页、app、小程序等用户界面，重视交互性</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="lnr lnr-mustache"></i>
              </div>
              <h4>技术交流</h4>
              <p>最困难的接口部分，需要我们长期的沟通</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Some Features</h2>
          <hr class="lines">
          <p class="section-subtitle">LXYZ是一个年轻的团队。他们或许没有经验、没有资本，但他们都是忠实的理论崇拜者兼技术崇拜者，且热衷实践，开拓创新。<br> Liu_Xu_Yang_Zeng</p>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="container">
              <div class="row">
                 <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-rocket"></i>
                    </span>
                    <div class="text">
                      <h4>理论崇拜</h4>
                      <p>我们以理论知识为基础，不忘本源</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-laptop-phone"></i>
                    </span>
                    <div class="text">
                      <h4>技术崇拜</h4>
                      <p>我们重视所谓“技术”，不断探索</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-layers"></i>
                    </span>
                    <div class="text">
                      <h4>兴于实践</h4>
                      <p>我们始终将理论知识与实践创造结合</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-cog"></i>
                    </span>
                    <div class="text">
                      <h4>开拓创新</h4>
                      <p>我们热衷于接触未知，开拓思变</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12">
            <div class="show-box">
              <img class="img-fulid" src="{% static "img/features/feature.png" %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->  
    <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>  

    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">我们的作品</h2>
          <hr class="lines">
          <p class="section-subtitle">乒乓“培”训机旨在帮助没有乒乓基础的人群训练乒乓技术，主要通过分析动作、实时反馈得以实现功能。硬件部分采用普通舵机和旋进传动器件，实现发送不同旋转速度、出射速度、发射方向的乒乓球。控制模块为搭载STM32F1芯片的单片机，其与Raspi4b通过串口方式实现数据透传。<br> Raspi作为本地服务器，搭载有配套摄像头，利用Tensorflow图像识别模块进行数据分析。用户可利用app/小程序扫码使用。</p>
        </div>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                概览 
              </a>
              <a class="filter btn btn-common" data-filter=".design">
                硬件 
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                前端
              </a>
              <a class="filter btn btn-common" data-filter=".print">
                后台 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static "img/portfolio/img1.jpg" %}" alt="" />  
                  <a class="overlay lightbox" href="img/portfolio/img1.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static "img/portfolio/img2.jpg" %}" alt="" />  
                  <a class="overlay lightbox" href="img/portfolio/img2.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static "img/portfolio/img3.jpg" %}" alt="" />  
                  <a class="overlay lightbox" href="img/portfolio/img3.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static "img/portfolio/img4.jpg" %}" alt="" />  
                  <a class="overlay lightbox" href="img/portfolio/img4.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static "img/portfolio/img5.jpg" %}" alt="" />  
                  <a class="overlay lightbox" href="img/portfolio/img5.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static "img/portfolio/img6.jpg" %}" alt="" />  
                  <a class="overlay lightbox" href="img/portfolio/img6.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Start Video promo Section -->
    <section class="video-promo section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="video-promo-content text-center">
                <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">宣传视频</h2>
                <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">规格严格，功夫到家</p>
                <a href="https://haokan.baidu.com/v?vid=14822986757586420040&pd=bjh&fr=bjhauthor&type=video" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->

    <!-- Start Pricing Table Section -->
    <div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">价目表</h2>
          <hr class="lines">
          <p class="section-subtitle">LXYZ_hiters独家出品乒乓“陪”训机及其消耗品。 <br> 买不了吃亏，买不了上当，真正的品质，真正的实在。</p>
        </div>

        <div class="row pricing-tables">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>免费项目</h2>
                <span>0.00 RMB</span>
                <ul>
                  <li>给你看看</li>
                  <li>给你瞅瞅</li>
                  <li>给你瞧瞧</li>
                  <li>给你康康</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">哇塞塞</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>乒乓球</h2>
                <span>5.00 RMB</span>
                <ul>
                  <li>高端品质</li>
                  <li>贵族黄色</li>
                  <li>时尚球体</li>
                  <li>磨砂质感</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">买买买</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>发球机</h2>
                <span>1000 RMB</span>
                <ul>
                  <li>刘禹锋造</li>
                  <li>刘禹锋改</li>
                  <li>刘禹锋装</li>
                  <li>刘禹锋牛</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common">买买买</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Pricing Table Section -->

    <!-- Counter Section Start -->
    <div class="counters section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row"> 
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">   
              <div class="icon">
                <i class="lnr lnr-clock"></i>
              </div>             
              <div class="fact-count">
                <h3><span class="counter">998</span></h3>
                <h4>工作时长</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">   
              <div class="icon">
                <i class="lnr lnr-briefcase"></i>
              </div>            
              <div class="fact-count">
                <h3><span class="counter">998</span></h3>
                <h4>完成项目</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item"> 
              <div class="icon">
                <i class="lnr lnr-user"></i>
              </div>              
              <div class="fact-count">
                <h3><span class="counter">998</span></h3>
                <h4>用户数量</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item"> 
              <div class="icon">
                <i class="lnr lnr-heart"></i>
              </div>              
              <div class="fact-count">
                <h3><span class="counter">998</span></h3>
                <h4>收到喜爱</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Section End -->

    <!-- Team section Start -->
    <section id="team" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">我们的团队</h2>
          <hr class="lines">
          <p class="section-subtitle">LXYZ，顾名思义，即是两学一做。 <br> 那当然是不可能的。L,X,Y,Z分别是团队四人姓氏的首字母，由此。</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static "img/team/team1.jpg" %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">刘锋禹</h4>
                  <p>帅气队长</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static "img/team/team2.jpg" %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">徐子仪</h4>
                  <p>摸鱼大师</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static "img/team/team3.jpg" %}" alt="">
              <div class="team-details">
                <div class="team-inner">                  
                  <h4 class="team-title">杨畅</h4>
                  <p>养狗大佬</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="{% static "img/team/team4.jpg" %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">曾颖</h4>
                  <p>可爱担当</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section End -->

    <!-- testimonial Section Start -->
    <div id="testimonial" class="section" data-stellar-background-ratio="0.1">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="touch-slider owl-carousel owl-theme">
              <div class="testimonial-item">
                <img src="{% static "img/testimonial/customer1.jpg" %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>优秀的Hiter，未来的Engineer <br> 为了理想，为了未来。我们携手在涛涛的松花江畔。</p>
                  <h3>刘禹锋</h3>
                  <span>LXYZ小分队的帅气队长</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static "img/testimonial/customer2.jpg" %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>优秀的Hiter，未来的Engineer <br> 校园菁菁，书声琅琅。朴实无华的乐土桃李芬芳。</p>
                  <h3>徐子仪</h3>
                  <span>LXYZ小分队的摸鱼大师</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static "img/testimonial/customer3.jpg" %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>优秀的Hiter，未来的Engineer <br> 自豪的哈工大，我们成长的摇篮。</p>
                  <h3>杨畅</h3>
                  <span>LXYZ小分队的养狗大佬</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static "img/testimonial/customer4.jpg" %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>优秀的Hiter，未来的Engineer <br> 你就是我们的骄傲，你就是我们的梦想。</p>
                  <h3>曾颖</h3>
                  <span>LXYZ小分队的可爱担当</span>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <!-- testimonial Section Start -->

<!--    &lt;!&ndash; Blog Section &ndash;&gt;-->
<!--    <section id="blog" class="section">-->
<!--      &lt;!&ndash; Container Starts &ndash;&gt;-->
<!--      <div class="container">-->
<!--        <div class="section-header">          -->
<!--          <h2 class="section-title">最近发表</h2>-->
<!--          <hr class="lines">-->
<!--          <p class="section-subtitle">您畅所欲言，我侧耳倾听 <br> 让世界听见你我的声音</p>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">-->
<!--            &lt;!&ndash; Blog Item Starts &ndash;&gt;-->
<!--            <div class="blog-item-wrapper">-->
<!--              <div class="blog-item-img">-->
<!--                <a href="single-post.html">-->
<!--                  <img src="img/blog/img1.jpg" alt="">-->
<!--                </a>                -->
<!--              </div>-->
<!--              <div class="blog-item-text"> -->
<!--                <div class="meta-tags">-->
<!--                  <span class="date"><i class="lnr  lnr-clock"></i>两日前</span>-->
<!--                  <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i>评论</a></span>-->
<!--                </div>-->
<!--                <h3>-->
<!--                  <a href="single-post.html">多久没有叽叽喳喳了？</a>-->
<!--                </h3>-->
<!--                <p>-->
<!--                在夜的那边，是明天。——这里没有象征：一双合脚的鞋子，在床底；一份成色不错的早餐，在早餐店；喜欢不喜欢的许多工作，在夜的那边。-->
<!--                </p>-->
<!--                <a href="single-post.html" class="btn-rm">获取更多<i class="lnr lnr-arrow-right"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Blog Item Wrapper Ends&ndash;&gt;-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">-->
<!--            &lt;!&ndash; Blog Item Starts &ndash;&gt;-->
<!--            <div class="blog-item-wrapper">-->
<!--              <div class="blog-item-img">-->
<!--                <a href="single-post.html">-->
<!--                  <img src="img/blog/img2.jpg" alt="">-->
<!--                </a>                -->
<!--              </div>-->
<!--              <div class="blog-item-text"> -->
<!--                <div class="meta-tags">-->
<!--                  <span class="date"><i class="lnr  lnr-clock"></i>两日前</span>-->
<!--                  <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i>评论</a></span>-->
<!--                </div>-->
<!--                <h3>-->
<!--                  <a href="single-post.html">内涵即王道</a>-->
<!--                </h3>-->
<!--                <p>-->
<!--                提前获知，还有：一份会议的通知；一单预计到达的快递；一个新来的实习生，将要加入。在夜的那边。-->
<!--                </p>-->
<!--                <a href="single-post.html" class="btn-rm">获取更多<i class="lnr lnr-arrow-right"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Blog Item Wrapper Ends&ndash;&gt;-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">-->
<!--            &lt;!&ndash; Blog Item Starts &ndash;&gt;-->
<!--            <div class="blog-item-wrapper">-->
<!--              <div class="blog-item-img">-->
<!--                <a href="single-post.html">-->
<!--                  <img src="img/blog/img3.jpg" alt="">-->
<!--                </a>                -->
<!--              </div>-->
<!--              <div class="blog-item-text"> -->
<!--                <div class="meta-tags">-->
<!--                  <span class="date"><i class="lnr  lnr-clock"></i>两日前</span>-->
<!--                  <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i>评论</a></span>-->
<!--                </div> -->
<!--                <h3>-->
<!--                  <a href="single-post.html">社交媒体账号</a>-->
<!--                </h3>-->
<!--                <p>-->
<!--                 此刻，它们或他们，以缺席的形式存在着。可以说晚安吗？或者……明天见，明天见！而我知道，这，并非是明天必须到来的理由。 -->
<!--                </p>-->
<!--                <a href="single-post.html" class="btn-rm">获取更多<i class="lnr lnr-arrow-right"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Blog Item Wrapper Ends&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; blog Section End &ndash;&gt;-->

    <!-- Contact Section Start -->
    <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
      <div class="contact-form">
        <div class="container">
          <div class="row">     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-us">
                <h3>联系我们</h3>
                <div class="contact-address">
                  <p>Harbin, China </p>
                  <p class="phone">Phone: <span>(+86 18812345678)</span></p>
                  <p class="email">E-mail: <span>(LXYZ@hit.stu.com)</span></p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-block">
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button text-center">
                        <button class="btn btn-common" id="submit" type="submit">发送消息</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>          
      <div class="container">
        <div class="row">
          <!-- Footer Links -->
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <ul class="footer-links">
              <li>
                <a href="#">主页</a>
              </li>
              <li>
                <a href="#">服务</a>
              </li>
              <li>
                <a href="#">关于我们</a>
              </li>
              <li>
                <a href="#">联系我们</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="copyright">
              <p>UIdeck All copyrights reserved &copy; Harbin Institute of Technology, 100th. LXYZs, 20th.<a href="http://www.hit.edu.cn/" target="_blank" title="Models">访问我们</a> - Collect from <a href="http://www.hit.edu.cn/" title="了解我们" target="_blank">了解我们</a></p>
            </div>
          </div>  
        </div>
      </div>
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>
    
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>     

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    {% load static %}

    <script src="{% static "js/jquery-min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.mixitup.js" %}"></script>
    <script src="{% static "js/nivo-lightbox.js" %}"></script>
    <script src="{% static "js/owl.carousel.js" %}"></script>    
    <script src="{% static "js/jquery.stellar.min.js" %}"></script>    
    <script src="{% static "js/jquery.nav.js" %}"></script>    
    <script src="{% static "js/scrolling-nav.js" %}"></script>    
    <script src="{% static "js/jquery.easing.min.js" %}"></script>    
    <script src="{% static "js/smoothscroll.js" %}"></script>    
    <script src="{% static "js/jquery.slicknav.js" %}"></script>     
    <script src="{% static "js/wow.js" %}"></script>   
    <script src="{% static "js/jquery.vide.js" %}"></script>
    <script src="{% static "js/jquery.counterup.min.js" %}"></script>    
    <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>    
    <script src="{% static "js/waypoints.min.js" %}"></script>    
    <script src="{% static "js/form-validator.min.js" %}"></script>
    <script src="{% static "js/contact-form-script.js" %}"></script>   
    <script src="{% static "js/main.js" %}"></script>

  </body>
</html>
