{% extends 'base.html' %}
{% block title %}乒乒乓乓{% endblock %}
{% block nav_blog_active %}active{% endblock %}
{% load staticfiles %}
<!-- 加载模板标签 -->
{% load comment_tags %}
{% load likes_tags %}
{% block head_extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'privateletter.css' %}">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'privateletter.js' %}"></script>
    <style type="text/css">
        
    </style>
{% endblock %}
    <!-- 页面内容 -->

{% block content %}
<div class="container">
    <div class="header">
        <span id="hello_text"></span>
    </div>
    <div class="body">
        <div class="all-list">
            <div class="list-header">
                <span class="glyphicon glyphicon-envelope" onclick="test()">私信消息</span>
            </div>
            <div class="select-icon">
                <div class="chat_icon bottom_hr">
                    <span class="glyphicon glyphicon-comment"></span>
                </div>
                <div style="border: 1px solid #000;"></div>
                <div class="friend_icon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </div>
            <div class="frineds-list op" >
                {% for friend in friends %} 
                    {% if user == friend.user1 %}
                        <div class="friend" >{{ friend.user2 }}</div>
                    {% else %}
                        <div class="friend">{{ friend.user1 }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="chats-list" >
                {% for chat in chats %} 
                    {% if user == chat.user1 %}
                        <div class="chat_not_selected" onclick="getChatMes(this,{{chat.pk}})">{{ chat.user2 }}<span class="badge unread-count chatmes" id="{{chat.pk}}">{% if chat.unread > 0 %}{{ chat.unread }}{% endif %}</div>
                    {% else %}
                        <div class="chat_not_selected" onclick="getChatMes(this,{{chat.pk}})">{{ chat.user1 }}{{ chat.user2 }}<span class="badge unread-count chatmes" id="{{chat.pk}}">{% if chat.unread > 0 %}{{ chat.unread }}{% endif %}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="chat">
            <div class="chat-main"></div>
            <div class="chat-send">
                <!-- <form id="post_chat" action="{% url 'sendChatMes'%}" method="POST" style="overflow: hidden;" ENCTYPE="multipart/form-data">
                    {% csrf_token %}
                    <div class="postChat">
                        <div class="chatid" id=""></div>
                        <div class="form-group">
                            <textarea id="post_text" name="content" class="form-control" placeholder="在这里输入你想说的话吧~" rows="5" ></textarea>
                            <span id="post_error" class="text-danger pull-left"></span>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="私信" class="btn btn-primary pull-right">
                    </div>
                </form> -->
                <div class="postChat">
                    <div class="chatid" id=""></div>
                    <div class="form-group">
                        <textarea id="post_text" name="content" class="form-control" placeholder="在这里输入你想说的话吧~" rows="5" ></textarea>
                        <span id="post_error" class="text-danger pull-left"></span>
                    </div>
                </div>
                <div>
                    <!-- <div id="user" style="display: none;"></div> -->
                    <textarea id="user" style="display: none;">{{user.username}}</textarea>
                    <button  value="私信" class="btn btn-primary pull-right submit" onclick="sendChatMes()">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extends %}
<script type="text/javascript" >
    function test(){
        alert("NMD");
    }


    function getChatMes(object,id){
        // alert("NMD");
        $(".chat_selected").attr("class","chat_not_selected");
        $(object).attr("class","chat_selected");
        $(".chatid").attr("id",id);
        $.ajax({
            url: "{% url 'chatMessage' %}",
            type:'GET',
            data:{
                id:id,
            },
            async:false,
            cache:false,
            success:function(data){
                
                console.log(1);
                console.log(data);
                $(".chat-main").empty();
                for(var i=0;i<data["chatMessage"].length;i++){
                    if(data["chatMessage"][i]["ifsender"]==1){
                        var message_html = '<div class="message_right" align="right">'+data["chatMessage"][i]["text"]+'</div>';
                    }else{
                        var message_html = '<div class="message_left" align="left">'+data["chatMessage"][i]["text"]+'</div>';
                    }
                    
                    console.log(message_html);
                    $(".chat-main").append(message_html);
                };
                $(".chat-main").scrollTop($(".chat-main").height());
                id = '#'+data["chatId"];
                console.log(id);
                $(id).text('');
            },
            error: function(xhr){
                console.log(xhr);
                
            },
        });
    }

    function sendChatMes(){
        var name = $("#user").val();
        console.log(name);
        var formData = new FormData();
        var id = $(".chatid").attr("id");
        $("#post_error").text('');
        if($('#post_text').val().trim()==''){
            $("#post_error").text("内容不能为空");
            return false;
        }
        var text = $('#post_text').val();
        console.log(text,id);
        // formData.append('text',$('textarea[name="content"]').val().trim());
        // formData.append('id',id);
        $.ajax({
            url:"{% url 'sendChatMes'%}",
            type:'GET',
            data:{
                id:id,
                text:text,
                name:name,
            },
            // contentType: false,  
            // processData: false,
            cache:false,
            success:function(data){
                console.log(data);
                if(data['status']=="success"){
                    var message_html = '<div class="message_right" align="right">'+text+'</div>';
                    $(".chat-main").append(message_html);
                    $('#post_text').val('');
                    $(".chat-main").scrollTop($(".chat-main").height());
                }
            },
            error:function(xhr){
                // console.log(xhr);
                return false;
            }
        });
    };

    $(document).ready(function(){
            $(".friend_icon").click(function(){
                $(".chat_icon").removeClass("bottom_hr");
                $(this).addClass("bottom_hr");
                $(".frineds-list").removeClass("op");
                $(".chats-list").addClass("op");
                
            })

            $(".chat_icon").click(function(){
                $(".friend_icon").removeClass("bottom_hr");
                $(this).addClass("bottom_hr");
                $(".frineds-list").addClass("op");
                $(".chats-list").removeClass("op");
            })
        });
</script>

<style type="text/css">
    /** { margin: 0; padding: 0; }*/
    body {
        background: #d2d2d2;
    }
    .container {
        /*自身的样式*/
        width: 1170px;
        min-width: 500px;
        margin: 5vh auto 0;
        box-shadow: #b9b9b9 0 0 6px 4px;
        background-color: white;
        border-radius: 6px;
        overflow: hidden;
        /*内部元素的布局*/
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .header {
        padding: 6px 0;
        text-align: center;
    }
    .body {
        /*自身样式*/
        height: 86vh;
        border-top: 1px solid #aaa;
        /*内部元素的布局方式*/
        display: flex;
    }
    .body .all-list {
        border-right: 1px solid #aaa;
        background: #eee;
        width: 20%;
        min-width: 200px;
        display: flex;;
        flex-direction: column;
    }
    .body .chat {
        background: #eee;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .body .chat .chat-main {
        flex-grow: 1;
    }
    .body .chat .chat-send {
        height: 200px; 
        border-top: 2px solid #ccc; 
    /*            display: flex; 
        flex-direction: column;*/
    }

    .list-header{
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 2px solid #000;
    }

    .select-icon{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 30px;
        border-bottom: 2px solid #000;
    }
    .chat_icon{
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .chat_icon_click{
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 2px solid #f00;
    }
    .friend_icon{
        width: 50%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .bottom_hr{
        border-bottom: 2px solid #f00;
    }

    .bottom_chat{
        border-bottom: 2px solid #f00;
    }

    .friend_icon_click{
        width: 50%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 2px solid #f00;
    }
    .frineds-list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .friend{
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid #000;
    }

    .chat{
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 950px;
        border-bottom: 1px solid #000;
        display: inline-block;
    }

    .chat_selected{
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 2px solid #0f0;
        display: inline-block;
    }

    .chat_not_selected{
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 2px solid #000;
        display: inline-block;
    }

    .op{
        display: none
    }

    .backcolor{
        background: #eee;
    }

    .chat-main{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .message_left{
        max-width: 400px;
        margin-right:auto;
        word-wrap:break-word;
        display: block;
        text-align: left;
        padding: 10px;
        border: 2px solid #000;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 6px;
        margin-left: 10px;
    }
    .message_right{
        max-width: 400px;
        /*position: fixed;
        right: 0;*/
        margin-left: auto;
        word-wrap:break-word;
        display:block;
        text-align: left;
        padding: 10px;
        border: 2px solid #000;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 6px;
        margin-right: 10px;
    }

    .chat-main{
        height: 800px;
        width: 900px;
        overflow:auto;
    }
</style>
{% endblock %}

